@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');
@import url('http://fonts.cdnfonts.com/css/sega-logo-font');

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'roboto',  'sans-serif';
}

body {
  height: 100vh;
}

.main-container {
  height: 100%;
  width: 100%;
}
.search-bar-container {
  display: flex;
  background-image: url(/images/card-pattern.png);
  background-color:#69df81;
  height:8%;
  opacity:80%;

}

.main-title {
  font-family: 'SEGA LOGO FONT', sans-serif;
  font-size: 25px;
  padding: 10px 130px;
}

input {
  width: 600px;
  height: 30px;
  margin: 10px 100px;
  border:none;
  border-radius: 4px;
  margin-left:10%;
  background-color: #c9d6e5;
  transition: box-shadow 0.3s ease 0s;
  outline: none;
  padding: 5px;

}

.robo-display-area {
  background-color: #6356cd;
  display: flex;

}

#robot-card-contianer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  background-image: url(/images/circuit-pattern.png);
}

.robot-images {
  background-color: #2a3c50;
  width:200px;
  height:200px;
  border-radius: 100px;
  margin:50px 100px;
}

.robot-name {
  text-align: center;
  font-size: 30px;
  color:white;
}

.robot-email {
  text-align: center;
  color:rgb(255 255 255);
}
.card {
  border-radius: 10px;
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  width:400px;
  height:400px;
  margin: 20px 60px;
  background: url(/images/card-pattern.png) ;
  background-color:#52bfc4;
}