body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    margin: 0;
    padding: 0;
    color:white;

}

.logo {
    background: url("https://i.dlpng.com/static/png/253278_thumb.png") center center no-repeat;
    width: 400px;
    height: 300px;
}

button,
.output {
    border-radius: 10px;
    border:2px solid yellow;
}

button {
    background-color:white;
    color:black;
    padding: 7px 20px;
    font-weight: 600px;
    margin-top: 20px;
    cursor: pointer;
}

.loader,
.error,
.details {
    display: none;
}

.output {
    text-align: center;
    padding:20px;
    min-width: 550px;
    min-height: 200px;
}

i {
    font-size: 50px;
}